html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#submit-btn {
  margin-top: 25px;
  background-color: #ff383f;
  border: none;
  color: #ffffff; }
  #submit-btn:hover {
    background-color: #eb0008; }

.error-box {
  color: red;
  border-radius: 2px;
  margin-bottom: 20px;
  font-size: 18px; }

.container {
  width: 100vw;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  background-color: #efefef; }
  .container #landing {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    width: 100vw;
    height: 100vh; }
    .container #landing h1 {
      font-size: 50px;
      margin-bottom: 75px;
      color: black; }
    .container #landing .login-register {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: justify;
          justify-content: space-between;
      width: 70%; }
      .container #landing .login-register .divider {
        border: 1px solid #ff383f; }
      .container #landing .login-register .form-group {
        margin: 25px 0;
        border-radius: 10px;
        background-color: white;
        border: 2px solid #ff383f;
        width: 350px;
        padding: 35px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column; }
        .container #landing .login-register .form-group h2 {
          font-size: 25px;
          -ms-flex-item-align: center;
              -ms-grid-row-align: center;
              align-self: center;
          margin-bottom: 25px; }
        .container #landing .login-register .form-group .form-body {
          margin-bottom: 10px; }
          .container #landing .login-register .form-group .form-body .form-element {
            margin-bottom: 10px; }
            .container #landing .login-register .form-group .form-body .form-element label {
              margin-bottom: 5px; }
  .container .profile-setup {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    width: 75%; }
    .container .profile-setup .divider {
      border: 0.5px solid white; }
    .container .profile-setup .form-group {
      margin: 25px 0;
      border-radius: 10px;
      background-color: white;
      width: 100%;
      padding: 35px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column; }
      .container .profile-setup .form-group h2 {
        font-size: 25px;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        margin-bottom: 25px; }
      .container .profile-setup .form-group .form-body {
        margin-bottom: 10px; }
        .container .profile-setup .form-group .form-body .form-element {
          margin-bottom: 10px; }
          .container .profile-setup .form-group .form-body .form-element label {
            margin-bottom: 5px; }
        .container .profile-setup .form-group .form-body #submit-btn {
          margin-top: 25px;
          background-color: #6db56d;
          border: none;
          color: #ffffff; }

#new-form {
  margin-top: 125px;
  width: 100%;
  height: 100vh;
  background-color: #eeeeee;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center; }
  #new-form .form-div {
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 50px 75px; }
    #new-form .form-div h1 {
      font-size: 35px;
      margin-bottom: 40px;
      color: #000000; }
    #new-form .form-div .form-group {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: justify;
          justify-content: space-between;
      width: 450px; }
      #new-form .form-div .form-group .form-element {
        margin-bottom: 15px; }
        #new-form .form-div .form-group .form-element input {
          width: 200px; }
        #new-form .form-div .form-group .form-element p {
          font-size: 15px;
          color: #000000;
          margin-bottom: 5px; }
    #new-form .form-div #message-group {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column; }
      #new-form .form-div #message-group #message-element textarea {
        width: 100%;
        height: 200px;
        border: 1px solid #cccccc;
        border-radius: 5px;
        resize: none;
        padding: 10px; }
    #new-form .form-div #submit-btn {
      margin-bottom: 10px; }

#sidebar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 100%;
  top: 0px;
  position: absolute;
  background-color: white;
  padding: 0 100px; }
  #sidebar a {
    color: black; }
    #sidebar a:hover {
      text-decoration: none; }
  #sidebar h1 {
    padding: 10px;
    color: #ff383f; }
  #sidebar .options {
    width: 60%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center; }
    #sidebar .options .option-el {
      padding: 10px;
      cursor: pointer; }
      #sidebar .options .option-el h2 {
        font-size: 15px; }
      #sidebar .options .option-el:hover a {
        color: #ff383f; }

body {
  background-color: #efefef; }

.container #user-home {
  padding: 0 100px;
  margin-top: 125px;
  width: 100%; }
  .container #user-home h1 {
    font-size: 50px;
    text-align: center; }
  .container #user-home .home-info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .container #user-home .home-info .info-group {
      border-radius: 5px;
      margin-top: 50px;
      width: 45%;
      background-color: white;
      border: 1px solid #dddddd;
      padding: 25px 40px;
      min-height: 425px; }
      .container #user-home .home-info .info-group h2 {
        font-size: 30px;
        margin-bottom: 25px; }
      .container #user-home .home-info .info-group .active-info h3 {
        display: inline-block;
        font-size: 15px;
        margin-bottom: 25px;
        border: 2px solid #ff8589;
        border-radius: 20px;
        color: #444444;
        padding: 8px 10px; }
      .container #user-home .home-info .info-group .active-info .loan-group .element {
        border-radius: 5px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        border: 1px solid #ff6b70;
        padding: 15px 20px;
        background-color: #ffd1d3; }
        .container #user-home .home-info .info-group .active-info .loan-group .element h4 {
          margin-bottom: 10px;
          color: #444444; }
        .container #user-home .home-info .info-group .active-info .loan-group .element .loan-info {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: row;
              flex-direction: row; }
          .container #user-home .home-info .info-group .active-info .loan-group .element .loan-info h5 {
            margin-right: 20px;
            color: #444444; }

#profile-section {
  width: 100%;
  padding: 0 100px; }
  #profile-section .group {
    padding: 35px 50px;
    width: 100%;
    min-height: 500px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: white;
    margin-top: 125px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row; }
    #profile-section .group img {
      margin-right: 50px;
      width: 100%; }
    #profile-section .group .main-info {
      width: 100%; }
      #profile-section .group .main-info h1 {
        font-size: 35px;
        margin-bottom: 10px;
        color: #ff383f; }
      #profile-section .group .main-info p {
        font-size: 20px;
        margin-bottom: 5px; }
      #profile-section .group .main-info .secondary-info {
        margin-top: 25px; }
        #profile-section .group .main-info .secondary-info h2 {
          font-size: 25px;
          margin-bottom: 10px; }
        #profile-section .group .main-info .secondary-info p {
          margin-bottom: 7px; }

#conversations {
  margin-top: 125px;
  width: 100%;
  padding: 0 100px; }
  #conversations .conversations-group {
    width: 100%;
    background-color: white;
    border: 1px solid #dddddd;
    padding: 50px 75px;
    border-radius: 5px;
    height: 550px; }
    #conversations .conversations-group h1 {
      font-size: 35px;
      margin-bottom: 50px; }
    #conversations .conversations-group ul {
      margin-bottom: 75px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      overflow: scroll;
      height: 250px; }
      #conversations .conversations-group ul a {
        border-radius: 0;
        background-color: #ff6b70;
        margin-right: 20px;
        margin-bottom: 20px;
        height: 45px; }
    #conversations .conversations-group h2 {
      font-size: 20px;
      margin-bottom: 50px; }
    #conversations .conversations-group a {
      padding: 15px 20px;
      border-radius: 10px;
      background-color: #ff383f;
      color: white;
      cursor: pointer; }
      #conversations .conversations-group a:hover {
        text-decoration: none;
        background-color: #eb0008; }

#convo {
  margin-top: 125px;
  width: 100%;
  padding: 0 100px;
  margin-bottom: 50px; }
  #convo .convo-group {
    width: 100%;
    background-color: white;
    border: 1px solid #dddddd;
    padding: 50px 75px;
    border-radius: 5px; }
    #convo .convo-group h1 {
      font-size: 35px;
      margin-bottom: 40px; }
    #convo .convo-group ul {
      border: 1px solid #dddddd;
      border-radius: 10px;
      padding: 15px;
      margin-bottom: 50px;
      height: 400px;
      overflow: scroll; }
      #convo .convo-group ul p {
        line-height: 20px; }
    #convo .convo-group form {
      margin-bottom: 25px; }
      #convo .convo-group form .send-message {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
            flex-direction: row; }
        #convo .convo-group form .send-message .form-control {
          width: 90px;
          height: 38px; }
        #convo .convo-group form .send-message #submit-btn {
          margin: 0;
          -ms-flex-item-align: end;
              align-self: flex-end; }
        #convo .convo-group form .send-message textarea {
          width: 60%;
          height: 38px;
          line-height: 18px;
          font-size: 15px;
          border: 1px solid #cccccc;
          border-radius: 5px;
          resize: none;
          overflow: scroll;
          padding: 10px 10px;
          margin-right: 25px; }
