#new-form {
    margin-top: 125px;
    width: 100%;
    height: 100vh;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: center;

    .form-div {
        border: 1px solid #dddddd;
        border-radius: 5px;
        background-color: #ffffff;
        padding: 50px 75px;

        h1 {
            font-size: 35px;
            margin-bottom: 40px;
            color: #000000;
        }

        .form-group {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 450px;

            .form-element {
                width: 48%;
                margin-bottom: 15px;
                margin-right: 0;

                input {
                }

                p, label {
                    font-size: 15px;
                    color: #000000;
                    margin-bottom: 5px;
                }
            }

            #bio-element {
                width: 100%;

                textarea {
                    resize: none;
                    height: 100px;
                    overflow: scroll;
                }
            }
        }

        #message-group {
            display: flex;
            flex-direction: column;

            #message-element {
                width: 100%;

                textarea {
                    width: 100%;
                    height: 200px;

                    border: 1px solid #cccccc;
                    border-radius: 5px;
                    resize: none;
                    overflow: scroll;
                    padding: 10px;
                }
            }
        }

        #submit-btn {
            margin-bottom: 10px;
        }
    }
}
