body {
    background-color: $neutral;
}

.container {
    #user-home {
        padding: 0 100px;
        margin-top: 125px;
        width: 100%;

        h1 {
            font-size: 50px;
            text-align: center;
        }

        .home-info {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .info-group {
                border-radius: 5px;
                margin-top: 50px;
                width: 45%;
                background-color: white;
                border: 1px solid #dddddd;
                padding: 25px 40px;
                min-height: 425px;

                h2 {
                    font-size: 30px;
                    margin-bottom: 25px;
                }

                .active-info {

                    h3 {
                        display: inline-block;
                        font-size: 15px;
                        margin-bottom: 25px;
                        border: 2px solid lighten($watermelon, 15%);
                        border-radius: 20px;
                        color: $dark-grey;
                        padding: 8px 10px;
                    }

                    .loan-group {
                        .element {
                            border-radius: 5px;
                            display: flex;
                            flex-direction: column;
                            border: 1px solid lighten($watermelon, 10%);
                            padding: 15px 20px;
                            background-color: lighten($watermelon, 30%);

                            h4 {
                                margin-bottom: 10px;
                                color: $dark-grey;
                            }

                            .loan-info {
                                display: flex;
                                flex-direction: row;

                                h5 {
                                    margin-right: 20px;
                                    color: $dark-grey;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
