#submit-btn {
    margin-top: 25px;
    background-color: $watermelon;
    border: none;
    color: #ffffff;

    &:hover {
        background-color: darken($watermelon, 15%);
    }
}

.error-box {
  color: red;
  border-radius: 2px;
  margin-bottom: 20px;
  font-size: 18px;
}

.container {
    width: 100vw;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: $neutral;

    #landing {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100vw;
        height: 100vh;

        h1 {
            font-size: 50px;
            margin-bottom: 75px;
            color: black;
        }

        .login-register {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 70%;

            .divider {
                border: 1px solid $watermelon;
            }

            .form-group {
                margin: 25px 0;
                border-radius: 10px;
                background-color: white;
                border: 2px solid $watermelon;
                width: 350px;
                padding: 35px;
                display: flex;
                flex-direction: column;

                h2 {
                    font-size: 25px;
                    align-self: center;
                    margin-bottom: 25px;
                }

                .form-body {
                    margin-bottom: 10px;

                    .form-element {
                        margin-bottom: 10px;

                        label {
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
    .profile-setup {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 75%;

        .divider {
            border: 0.5px solid white;
        }

        .form-group {
            margin: 25px 0;
            border-radius: 10px;
            background-color: white;
            width: 100%;
            padding: 35px;
            display: flex;
            flex-direction: column;

            h2 {
                font-size: 25px;
                align-self: center;
                margin-bottom: 25px;
            }

            .form-body {
                margin-bottom: 10px;

                .form-element {
                    margin-bottom: 10px;

                    label {
                        margin-bottom: 5px;
                    }
                }

                #submit-btn {
                    margin-top: 25px;
                    background-color: #6db56d;
                    border: none;
                    color: #ffffff;
                }
            }
        }
    }
}
