body {
    background-color: #1c5be7;
}

.error-box {
  color: red;
  background-color: white;
  border-radius: 2px;
  margin-bottom: 10px;
  font-size: 18px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 75px;

    h1 {
        font-size: 50px;
        margin-bottom: 75px;
        color: white;
    }

    .login-register {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 75%;

        .divider {
            border: 0.5px solid white;
        }

        .form-group {
            margin: 25px 0;
            border-radius: 10px;
            background-color: white;
            width: 350px;
            padding: 35px;
            display: flex;
            flex-direction: column;

            h2 {
                font-size: 25px;
                align-self: center;
                margin-bottom: 25px;
            }

            .form-body {
                margin-bottom: 10px;

                .form-element {
                    margin-bottom: 10px;

                    label {
                        margin-bottom: 5px;
                    }
                }

                #submit-btn {
                    margin-top: 25px;
                    background-color: #6db56d;
                    border: none;
                    color: #ffffff;
                }
            }
        }
    }
    .profile-setup {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 75%;

        .divider {
            border: 0.5px solid white;
        }

        .form-group {
            margin: 25px 0;
            border-radius: 10px;
            background-color: white;
            width: 100%;
            padding: 35px;
            display: flex;
            flex-direction: column;

            h2 {
                font-size: 25px;
                align-self: center;
                margin-bottom: 25px;
            }

            .form-body {
                margin-bottom: 10px;

                .form-element {
                    margin-bottom: 10px;

                    label {
                        margin-bottom: 5px;
                    }
                }

                #submit-btn {
                    margin-top: 25px;
                    background-color: #6db56d;
                    border: none;
                    color: #ffffff;
                }
            }
        }
    }
}
