{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}

{% include 'sidebar.html' %}

<div class="container">
    <div id="convo">
        <div class="convo-group">
            <h1>Conversation with {{ user }}</h1>
            <ul class="chat-body">
            {% for message in conversation %}
                 <span><p class="sender"><b>{{ message.dataValues.SenderName }}</b>:</p> <p class="message-body"><i>{{ message.dataValues.TimeSent.toString() }}</i> {{ message.dataValues.Text }}</p></span><br />
            {% endfor %}
            </ul>
            <form action="/message" method="post">
                <input type="hidden" name="receiver" value="{{ user }}" />
                <div class="send-message">
                    <textarea onkeyup="textAreaAdjust(this)" type="text" name="message" contentEditable="true" placeholder="Type a message..."></textarea>
                    <input type="submit" class="form-control" id="submit-btn" value="Send" />
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
