{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}

{% include 'sidebar.html' %}

  <div class="container">
      <div id="user-home">
          <h1>Welcome, {{ user.Username }}!</h1>
          <div class="home-info">
              <div class="info-group" id="pending-transactions">
                  <h2>Pending Transactions</h2>
                  <div class="active-info">
                      <h3>Pending Requests</h3>
                      <ul class="loan-group">
                      {% for pend in pending %}
                        <div class="element">
                            <h4>{{pend.Receiver}}</h4>
                            <div class="loan-info">
                                <h5 class="amount-owed-by">Amount: {{pend.Amount}} BTC</h5>
                                <h5 class="due-date">Due: {{pend.ExpectedEndDate.toISOString().substring(0, 10)}}</h5>
                            </div>
                        </div>
                      {% endfor %}
                      </ul>
                  </div>
              </div>
              <div class="info-group" id= "active-transactions">
                  <h2>Active Transactions</h2>
                  <div class="active-info">
                      <h3>Current Loans</h3>
                      <ul class="loan-group">
                      {% for loan in loans %}
                        <div class="element">
                            <h4>Loan To: {{loan.Receiver}}</h4>

                            <h5 class="amount-owed-by">Loan Amount: {{loan.Amount}} BTC</h5>
                            <h5 class="due-date">Loan Due: {{loan.ExpectedEndDate.toISOString().substring(0, 10)}}</h5>
                        </div>
                      {% endfor %}
                      </ul>
                  </div>
                  <div class="active-info">
                      <h3>Current Debts</h3>
                      <ul class="loan-group">
                      {% for debt in debts %}
                        <div class="element">
                            <h4>Loan From: {{debt.Lender}}</h4>
                            <h5 class="amount-owed-to">Loan Amount: {{debt.Amount}} BTC</h5>
                            <h5 class="due-date">Loan Due: {{debt.ExpectedEndDate.toISOString().substring(0, 10)}}</h5>
                        </div>
                      {% endfor %}
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>

{% endblock %}
