{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}


  <div class="container">
      {% include 'sidebar.html' %}
      <div id="user-home">
          <h1>Welcome {{ user.Username }}!</h1>
          <div class="home-info">
              <div class="active-info">
                  <h2>Current Loans</h2>
                  <div class="loan-group">
                      <div class="element">
                          <h3>Loan To Person</h3>
                          <h3 class="amount-owed-by">Loan Amount</h3>
                          <h3 class="due-date">Loan Due Date</h3>
                      </div>
                  </div>
              </div>
              <div class="active-info">
                  <h2>Current Debts</h2>
                  <div class="loan-group">
                      <div class="element">
                          <h3>Loan From Person</h3>
                          <h3 class="amount-owed-to">Loan Amount</h3>
                          <h3 class="due-date">Loan Due Date</h3>
                      </div>
                      <div class="element">
                          <h3>Loan From Person</h3>
                          <h3 class="amount-owed-to">Loan Amount</h3>
                          <h3 class="due-date">Loan Due Date</h3>
                      </div>
                      <div class="element">
                          <h3>Loan From Person</h3>
                          <h3 class="amount-owed-to">Loan Amount</h3>
                          <h3 class="due-date">Loan Due Date</h3>
                      </div>
                      <div class="element">
                          <h3>Loan From Person</h3>
                          <h3 class="amount-owed-to">Loan Amount</h3>
                          <h3 class="due-date">Loan Due Date</h3>
                      </div>
                      <div class="element">
                          <h3>Loan From Person</h3>
                          <h3 class="amount-owed-to">Loan Amount</h3>
                          <h3 class="due-date">Loan Due Date</h3>
                      </div>
                      <div class="element">
                          <h3>Loan From Person</h3>
                          <h3 class="amount-owed-to">Loan Amount</h3>
                          <h3 class="due-date">Loan Due Date</h3>
                      </div>
                      <div class="element">
                          <h3>Loan From Person</h3>
                          <h3 class="amount-owed-to">Loan Amount</h3>
                          <h3 class="due-date">Loan Due Date</h3>
                      </div>
                      <div class="element">
                          <h3>Loan From Person</h3>
                          <h3 class="amount-owed-to">Loan Amount</h3>
                          <h3 class="due-date">Loan Due Date</h3>
                      </div>
                      <div class="element">
                          <h3>Loan From Person</h3>
                          <h3 class="amount-owed-to">Loan Amount</h3>
                          <h3 class="due-date">Loan Due Date</h3>
                      </div>
                      <div class="element">
                          <h3>Loan From Person</h3>
                          <h3 class="amount-owed-to">Loan Amount</h3>
                          <h3 class="due-date">Loan Due Date</h3>
                      </div>
                      <div class="element">
                          <h3>Loan From Person</h3>
                          <h3 class="amount-owed-to">Loan Amount</h3>
                          <h3 class="due-date">Loan Due Date</h3>
                      </div>
                      <div class="element">
                          <h3>Loan From Person</h3>
                          <h3 class="amount-owed-to">Loan Amount</h3>
                          <h3 class="due-date">Loan Due Date</h3>
                      </div>
                      <div class="element">
                          <h3>Loan From Person</h3>
                          <h3 class="amount-owed-to">Loan Amount</h3>
                          <h3 class="due-date">Loan Due Date</h3>
                      </div>
                      <div class="element">
                          <h3>Loan From Person</h3>
                          <h3 class="amount-owed-to">Loan Amount</h3>
                          <h3 class="due-date">Loan Due Date</h3>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>

{% endblock %}
