{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}

{% include 'sidebar.html' %}

  <div class="container">
      <div id="user-home">
          <h1>Welcome, {{ user.Username }}!</h1>
          <div class="home-info">
              <div class="info-group" id="pending-transactions">
                  <h2>Pending Transactions</h2>
                  <div class="active-info">
                      <h3>Pending Requests</h3>
                      <ul class="loan-group">
                      {% for pend in pending %}
                        <div class="element">
                            <a class="view-loan" href="http://localhost:5000/viewloan/{{pend.id}}">View Loan</a>
                            <h4><a href="http://localhost:5000/profile/{{pend.Receiver}}">{{pend.Receiver}}</a></h4>
                            <div class="loan-info">
                                <h5 class="amount-owed-by">Amount: {{pend.Amount}} BTC</h5>
                                <h5 class="due-date">Due: {{pend.ExpectedEndDate.toISOString().substring(0, 10)}}</h5>
                                <a href="http://localhost:5000/viewloan/{{pend.id}}"><h5 class="loan-id">Loan ID: {{pend.id}}</h5></a>
                            </div>
                        </div>
                      {% endfor %}
                      </ul>
                  </div>
              </div>
              <div class="info-group" id= "active-transactions">
                  <h2>Active Transactions</h2>
                  <div class="active-info">
                      <h3>Current Loans</h3>
                      <ul class="loan-group">
                      {% for loan in loans %}
                        <div class="element">
                            <a class="view-loan" href="http://localhost:5000/viewloan/{{loan.id}}">View Loan</a>
                            <h4>Loan To: <a href="http://localhost:5000/profile/{{loan.Receiver}}">{{loan.Receiver}}</a></h4>
                            <div class="loan-info">
                                <h5 class="amount-owed-by">Amount: {{loan.Amount}} BTC</h5>
                                <h5 class="due-date">Due: {{loan.ExpectedEndDate.toISOString().substring(0, 10)}}</h5>
                                <a href="http://localhost:5000/viewloan/{{loan.id}}"><h5 class="loan-id">Loan ID: {{loan.id}}</h5></a>
                            </div>
                        </div>
                      {% endfor %}
                      </ul>
                  </div>
                  <div class="active-info">
                      <h3>Current Debts</h3>
                      <ul class="loan-group">
                      {% for debt in debts %}
                        <div class="element">
                            <a class="view-loan" href="http://localhost:5000/viewloan/{{debt.id}}">View Loan</a>
                            <h4>Loan From: <a href="http://localhost:5000/profile/{{debt.Lender}}">{{debt.Lender}}</a></h4>
                            <div class="loan-info">
                                <h5 class="amount-owed-to">Amount: {{debt.Amount}} BTC</h5>
                                <h5 class="due-date">Due: {{debt.ExpectedEndDate.toISOString().substring(0, 10)}}</h5>
                                <a href="http://localhost:5000/viewloan/{{debt.id}}"><h5 class="loan-id">Loan ID: {{debt.id}}</h5></a>
                            </div>
                        </div>
                      {% endfor %}
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>

{% endblock %}
