{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">
    <h1>{{ title }}</h1>
    <h6>{{ error }}</h6>
    <form method="post" id="login-form" action="/login">
	  <div class="form-group">
	    <label for="Username">Username:</label>
	    <input type="Username" class="form-control" id="Username">
	  </div>
	  <div class="form-group">
	    <label for="Password">Password:</label>
	    <input type="password" class="form-control" id="password">
	  </div>
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
  </div>

{% endblock %}
