{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

<div class="container">
    {% include 'sidebar.html' %}

    <div id="new-loan">
        <div class="loan-group">
            <h1>New Loan</h1>
            <form method="post" id="registration-form" action="/newLoan">
              <div class="form-element">
                  <p>Lender Username</p>
                  <input type="text" class="form-control" id="LoanLender" name="LoanLender">
              </div>
              <div class="form-element">
                  <p>Borrower Username</p>
                  <input type="text" class="form-control" id="LoanReceiver" name="LoanReceiver">
              </div>
              <div class="form-element">
                  <p>Amount</p>
                  <input type="text" class="form-control" id="LoanAmount" name="LoanAmount">
              </div>
              <div class="form-element">
                  <p>End Date</p>
                  <input type="date" class="form-control" id="LoanEndDate" name="LoanEndDate">
              </div>
              <div class="form-element">
                  <p>Interest Rate</p>
                  <input type="text" class="form-control" id="LoanInterestRate" name="LoanInterestRate">
              </div>
              <input type="submit" class="form-control" id="submit-btn"/>
            </form>
        </div>
    </div>
</div>

{% endblock %}
