{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>Create a New Loan Proposal</h1>
    <form method="post" id="registration-form" action="/newLoan"> 
      <p>Lender username</p>
      <div class="form-group">
        <input type="text" class="form-control" id="LoanLender" name="LoanLender">
      </div>
      <p>Borrower username</p>
      <div class="form-group">
        <input type="text" class="form-control" id="LoanReceiver" name="LoanReceiver">
      </div>
      <p>Amount</p>
      <div class="form-group">
        <input type="text" class="form-control" id="LoanAmount" name="LoanAmount">
      </div>
      <p>End Date</p>
      <div class="form-group">
        <input type="date" class="form-control" id="LoanEndDate" name="LoanEndDate">
      </div>
      <p>Interest Rate</p>
      <div class="form-group">
        <input type="text" class="form-control" id="LoanInterestRate" name="LoanInterestRate">
      </div>
      <input type="submit" class="form-control" />
    </form>

  </div>

{% endblock %}