{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}

{% include 'sidebar.html' %}

<div class="container">
    <div id="new-form">
        <div class="form-div">
            <h1>Fulfill Loan</h1>
            <form method="post" id="registration-form" action="/newFulfillment">
                <div class="form-group">
                    <div class="form-element">
                        <p>Loan ID</p>
                        {% if id %}
                        <input type="text" class="form-control" id="loanID" name="loanID" value={{id}}>
                        {% elif !id %}
                        <input type="text" class="form-control" id="loanID" name="loanID">
                        {% endif %}
                    </div>
                    <div class="form-element">
                        <p>Amount to Pay (in BTC)</p>
                        {% if amountRemaining %}
                        <input type="text" class="form-control" id="amount" name="amount" value={{amountRemaining}}>
                        {% elif !amountRemaining %}
                        <input type="text" class="form-control" id="amount" name="amount">
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-element">
                        <p>Lender Username</p>
                        {% if lender %}
                        <input type="text" class="form-control" id="lenderUsername" name="lenderUsername" value={{lender}}>
                        {% elif !lender %}
                        <input type="text" class="form-control" id="lenderUsername" name="lenderUsername">
                        {% endif %}
                    </div>
                    <div class="form-element">
                        <p>Borrower Username</p>
                        {% if borrower %}
                        <input type="text" class="form-control" id="borrowerUsername" name="borrowerUsername" value={{borrower}}>
                        {% elif !borrower %}
                        <input type="text" class="form-control" id="borrowerUsername" name="borrowerUsername">
                        {% endif %}
                    </div>
                </div>
              <input type="submit" class="form-control" id="submit-btn"/>
            </form>
        </div>
    </div>
</div>

{% endblock %}
