{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

<div class="container">
    {% include 'sidebar.html' %}

    <div id="standard">
      <div class="group">
        <h1>{{(profile.First)}} {{(profile.Last)}} - {{(profile.UserUsername)}}</h1>
        <img style='width: 200px; height: 200px' src='{{profile.PictureURL}}'/>
        <p>Location: {{profile.Location}}</p>
        <p>Email: <a target="_blank" href='mailto:{{profile.Email}}'>{{profile.Email}}</a></p>
        <p>Phone: {{profile.PhoneNumber}}</p>
        <p><i>{{profile.Bio}}</i></p>
        {% if !isSelf %}
          <p><a href="/newRequest/{{profile.UserUsername}}">Request a Loan</a></p>
        {% endif %}
      </div>
    </div>
</div>

{% endblock %}
