{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}

{% include 'sidebar.html' %}

<div class="container">
  <div id="search-results">
    <div class="results-group">
      <h1>Search Results</h1>
      {% if isPop %}
      <ul class="result-list">
        {% for user in users %}
          <li>
              <img style='width: 100px; height: 100px' src="{{ user.Profile.PictureURL }}" onerror="checkURL('{{user.Profile.PictureURL}}', this)"/>
              <div class="user-info">
                  <p class="result-name">{{user.Profile.First}} {{user.Profile.Last}}</p>
                  <a href="/profile/{{user.Username}}">{{user.Username}}</a>
                  <p><i>{{user.Profile.Location}}</i></p>
              </div>
          </li>
        {% endfor %}
      </ul>
      {% else %}
      <h2>Could not find any users. Try a different search!</h2>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
