<div id="sidebar">
    <a href="/"><h1>PalPay</h1></a>
    <form action="/searchform" method="post">
      <input type="text" name="search" placeholder="Search"><br>
      <input type="submit" class="form-control" id="submit-btn" value="">
    </form>
    <div class="options">
        <div class="option-el">
            <a href="/profile"><h2>Profile</h2></a>
        </div>
        <div class="option-el">
            <a href="/newRequest"><h2>Request</h2></a>
        </div>
        <div class="option-el">
            <a href="/payLoan"><h2>Payments</h2></a>
        </div>
        <div class="option-el">
            <a href="/conversations"><h2>Messages</h2></a>
        </div>
        <div class="option-el" id="logout">
            <a href="/logout"><h2>Logout</h2></a>
        </div>
    </div>
</div>
