<div id="sidebar">
    <a href="/"><h1>PalPay</h1></a>
    <div class="options">
        <div class="option-el">
            <a href="/profile"><h2>Profile</h2></a>
        </div>
        <div class="option-el">
            <a href="/newLoan"><h2>Lend Bitcoin</h2></a>
        </div>
        <div class="option-el">
            <a href="/newRequest"><h2>Request Loan</h2></a>
        </div>
        <div class="option-el">
            <a href="/viewloans"><h2>Payments</h2></a>
        </div>
        <div class="option-el" id="logout">
            <a href="/search"><h2>Search Users</h2></a>
        </div>
        <div class="option-el" id="logout">
            <a href="/logout"><h2>Logout</h2></a>
        </div>
    </div>
</div>
